In [1]:
#Slack channel Rauf #Adan #IT expert facebook

# Operators

## Arithmetic Operators

In [3]:
5.0 +7.7

12.7

In [4]:
"Muhammad"+ "Ali"

'MuhammadAli'

In [5]:
[1,2,3]+[3,4,5]

[1, 2, 3, 3, 4, 5]

In [6]:
(1,2,3)+(3,4,5)

(1, 2, 3, 3, 4, 5)

In [7]:
{1,2,3,4}+{5,6,4,3}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
{"O":12,"T":4}+{"F":6,"S":3}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [10]:
20-2

18

In [11]:
53.54 - 35.56

17.979999999999997

In [12]:
3*2

6

In [13]:
{3,7,4,3}-{5,8,3,1}

{4, 7}

In [14]:
[3,7,4,3]-[5,8,3,1]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [15]:
"A" *4

'AAAA'

In [16]:
["A","B","C"]*5

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

In [17]:
{"A","B","C"}*5

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [18]:
5**5

3125

In [19]:
3**3

27

In [20]:
12/3

4.0

In [21]:
23433//2

11716

In [22]:
23433/2

11716.5

In [23]:
12.00/3

4.0

In [24]:
11/3

3.6666666666666665

In [25]:
11//3

3

In [26]:
7%4

3

In [27]:
28375%4

3

In [28]:
11%2

1

In [29]:
11%3

2

In [30]:
18%5

3

## Comparison Operators

In [31]:
2 == 2

True

In [32]:
# <> not equal
2<>3

SyntaxError: invalid syntax (<ipython-input-32-9cd2e74e7373>, line 2)

In [33]:
print(2<>3)

SyntaxError: invalid syntax (<ipython-input-33-cb8d1e4e1e5b>, line 1)

In [34]:
2!=3

True

In [36]:
"noman" == "noman"

True

In [38]:
"noman"=='noman'

True

In [39]:
2 == 2.0

True

In [41]:
a = 2
b = 2
a==b

True

In [42]:
['a','b'] == ['a','b']

True

In [44]:
2 == int('2')

True

In [46]:
5 > 10

False

In [47]:
10>10

False

In [48]:
10>53

False

In [49]:
10> 6

True

In [50]:
10 >= 10

True

In [51]:
10 >=9

True

In [52]:
10 > 9

True

In [54]:
"B" > "A"

True

In [57]:
chr(65)

'A'

In [58]:
ord("A")

65

65 = A -> 90 = Z
97 = a -> 122 = b
48 = 0 -> 57 = 9

In [64]:
chr(50)

'2'

In [62]:
ord("A")

65

In [65]:
3 < 6

True

In [66]:
2<=3

True

In [67]:
23892 != 980

True

In [69]:
"qasim" != "qasim"

False

In [74]:
"""
Multiline comment
does this really work
"""
realy= 56
realy

56

# Assignment Operators

In [111]:
A = "A"
b = "B"
C = 5

In [112]:
a = 5
a = 6
a = 7
a = 8
a = 9
print(a,b,C)

9 B 5

In [113]:
a = 1
a += 3
a += 4
a += 200
print(a)
a -= 5
a -= 90
a -= 33
a

208

80

In [114]:
a *= 4
print(a)
a /= 8
a

320

40.0

In [115]:
a = 2
a **= 2
a **= 2
print (a)

16

In [116]:
a = 2
a **= 3
a **= 3
print (a)

512

In [117]:
a //=2
a

256

In [118]:
a%8

0

In [119]:
a%8

0

In [120]:
a&8

0

In [121]:
a&8

0

In [122]:
a = "A"
a *= 4
a

'AAAA'

In [123]:
a = "A"
a += "B"
a += "C"
a

'ABC'

# Logical Operators

and = &
or = |
not = !=

In [128]:
user = "Qasim"
password = "Qasim"

print (user == "Qasim")
password == "Qasim"

True

True

In [132]:
print("%s,%s")%(user, password)

%s,%s

TypeError: unsupported operand type(s) for %: 'NoneType' and 'tuple'

In [133]:
True & True & True & True

True

In [134]:
True and True and True and True

True

In [135]:
True & True & True & False

False

In [136]:
True and True and True and False

False

In [141]:
a = "A"
b = "B"
c = "C"
d = "D"

print((a == "A") and (b == "B") and (c == "C") and (d =="D"))
print((a == "A") & (b == "B") & (c == "C") & (d =="D"))

True
True

In [146]:
print (True | False | False | False | True)
print(True or False or False or False or True)

True
True

In [151]:
user = input("User Name")
password = input("Password")

(user == "Qasim" or user == "Admin" or user == "Abc") and password == "123"

User NameQasim
Password123

True

In [152]:
not(False)

True

In [153]:
not(True)

False

In [159]:
(False and True)

False

In [177]:
False or False

False

# Binary Operators

In [166]:
print (1&3)

1

In [176]:
print(20&21)

20

In [167]:
ord("A") & ord("b")

64

In [168]:
28 | 29

29

In [170]:
28 ^ 29 #xor function

1

In [172]:
~28

-29

In [173]:
29<<2

116

In [175]:
29>>2

7

In [178]:
25<<2

100

In [179]:
25>>2

6

# Membership Operator

In [182]:
names = ['Qasim', 'Hamza', 'Junaid', 'Abid']
for name in names:
    if name == 'Qasim':
        print(True)

True

In [185]:
if "Qasim" in names:
    print(True)

True

In [186]:
"Ali" not in names

True

# Identity Operators

In [190]:
string =str(input("Write 10 words"))
if "Pakistan" in string:
    print(True)

Write 10 wordsIndia Pakistan
True

# Identity Operators

In [192]:
a = '5' #is
b = 5
c = a

print(a == b)
print(a == c)

False
True

In [195]:
type(5) is not int

False

In [197]:
type(5.0) is float

True

# Control Flow

In [199]:
if False:
    print("Python")
else:
    print("Learn")

Learn

In [202]:
print("Python") if False else print("Learn")   # Comprehensive

Learn

#Valid user
Password
User
#Invelid user

In [213]:
user = input("User name")
Password = input("Password")
if (user == "Noman") and Password == "123":
    print ("Valid user")
else:
    print ("Invalid user")

User nameNoman
Password123
Valid user