# List Methods

In [1]:
names = ["Qasim","Ali","Hamza",7, 8, 9]
print(names)

['Qasim', 'Ali', 'Hamza', 7, 8, 9]

In [2]:
#          0       1      2    3  4  5
names = ["Qasim","Ali","Hamza",7, 8, 9]
#          -6     -5     -4    -3 -2 -1

#slicing
#list[start:end:step]
print(names[2])

Hamza

In [3]:
names = []

names.append("A")
names.append("B")
names.append("c")

names

['A', 'B', 'c']

In [4]:
names = []

names.append("A")
names.append("B")
names.append("c")

names.clear()
names

[]

In [5]:
names = []

names.append("A")
names.append("B")
names.append("c")

names1 = names
print(names1)
print(names)


names1[0] = "Z"

print(names1)
print(names)

['A', 'B', 'c']
['A', 'B', 'c']
['Z', 'B', 'c']
['Z', 'B', 'c']

In [6]:
names = []

names.append("A")
names.append("B")
names.append("c")

names1 = names.copy()
print("names1",names1)
print("names",names)


names1[0] = "Z"

print("names1",names1)
print("names",names)

names1 ['A', 'B', 'c']
names ['A', 'B', 'c']
names1 ['Z', 'B', 'c']
names ['A', 'B', 'c']

In [7]:
names = ['A','B',"A","C","D"]
names.count("A")

2

In [8]:
l1 = ['A','B',"C"]
l2 = ["X","Y","Z"]
l3 = l1 + l2
print(l3)
print(l1)
print(l2)

['A', 'B', 'C', 'X', 'Y', 'Z']
['A', 'B', 'C']
['X', 'Y', 'Z']

In [9]:
l1 = ['A','B',"C"]
l2 = ["X","Y","Z"]
l3 =l1.extend(l2) # In Memory operation
print(l3)
print(l1)
print(l2)

None
['A', 'B', 'C', 'X', 'Y', 'Z']
['X', 'Y', 'Z']

In [13]:
print(l1)
['A', 'B', 'C', 'X', 'Y', 'Z'].index("C")

['A', 'B', 'C', 'X', 'Y', 'Z']

2

In [14]:
l1 = ['A', 'B', 'C','A', 'X', 'Y', 'Z']
print(l1)
print(l1.index("A"))
print(l1.index("A", 1))

['A', 'B', 'C', 'A', 'X', 'Y', 'Z']
0
3

In [15]:
l1 = []
l1.insert(0, "A")
l1.insert(0, "B")
l1.insert(0, "C")
# Appedn A,B,C
l1.insert(1,"D")
print(l1)

['C', 'D', 'B', 'A']

In [21]:
l1 = ['A','B','C']
a = del l1[0]
print(l1)
print(a)

SyntaxError: invalid syntax (<ipython-input-21-8fac9bf30fb6>, line 2)

In [18]:
l1 = ['A','B','C']
del l1[0]
print(l1)

['B', 'C']

In [36]:
l1 = ['A','B','C']
a = l1.pop()
print(l1)
print(a)

['A', 'B']
C

In [22]:
l1 = ['A',"B","C"]
a = l1.pop(1)
print(l1)
print(a)
# Remove by index number
# Return value

['A', 'C']
B

In [25]:
# Remove by text value

l1 = ['A','B','C','C','D','C']
print(l1)
l1.remove("C")
print(l1)

['A', 'B', 'C', 'C', 'D', 'C']
['A', 'B', 'C', 'D', 'C']

In [26]:
l1 = ['A','B','C','C','D','C']
print(l1)
l1.remove("C")
print(l1)
l1.remove("C")
print(l1)

['A', 'B', 'C', 'C', 'D', 'C']
['A', 'B', 'C', 'D', 'C']
['A', 'B', 'D', 'C']

In [27]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.reverse()
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['Y', 'C', 'B', 'X', 'Z', 'A']

In [28]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.sort()
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['A', 'B', 'C', 'X', 'Y', 'Z']

In [29]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.sort()
l1.reverse()
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['Z', 'Y', 'X', 'C', 'B', 'A']

In [30]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.sort(reverse=True)
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['Z', 'Y', 'X', 'C', 'B', 'A']

In [31]:
l1 = ['A',"B","C"]
print(['A'] + ["C","D"]) # In line Operation
l1.__add__(['D','E']) # In Line Operation

['A', 'C', 'D']

['A', 'B', 'C', 'D', 'E']

In [32]:
l1 = ['A',"C",'D']
l1.__class__

list

In [33]:
l1 = ['A',"C",'D']
print(l1.__contains__("A"))
print(l1.__contains__("E"))

print("A" in l1)

True
False
True

In [34]:
l1 = ['A',"C",'D']
l2 = ['A',"C",'D']
l3 = ["D",'E']
print(l1.__eq__(l2))
print(l1.__eq__(l3))

True
False

In [35]:
l1 = [5,7, 9]
l2 = [3,5,6]
l3 = [7,9,10]
print(l1.__ge__(l2))
print(l1.__ge__(l3))

True
False

In [36]:
print(len(l1))
print(l1.__len__())

3
3

In [37]:
["pakistan"] * 10

['pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan']

In [38]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Loop

# counter
# Logic
# Increment / Decrement

1. while
2. for

In [39]:
counter = 1 # Counter

while counter <= 10: #Logic
    print("Pakistan ", counter)
    counter += 1# Increment

Pakistan  1
Pakistan  2
Pakistan  3
Pakistan  4
Pakistan  5
Pakistan  6
Pakistan  7
Pakistan  8
Pakistan  9
Pakistan  10

In [40]:
counter = 100 # Counter

while counter >=90: #Logic
    print("Pakistan ", counter)
    counter -= 1# Increment

Pakistan  100
Pakistan  99
Pakistan  98
Pakistan  97
Pakistan  96
Pakistan  95
Pakistan  94
Pakistan  93
Pakistan  92
Pakistan  91
Pakistan  90

for (count; logic; increment){
    
}   # in C and C++

In [69]:
for i in range(1,11):
    print("pakistan",i)

pakistan 1
pakistan 2
pakistan 3
pakistan 4
pakistan 5
pakistan 6
pakistan 7
pakistan 8
pakistan 9
pakistan 10

In [73]:
["pakistan"+str(x) for x in range(1,11)]

['pakistan1',
 'pakistan2',
 'pakistan3',
 'pakistan4',
 'pakistan5',
 'pakistan6',
 'pakistan7',
 'pakistan8',
 'pakistan9',
 'pakistan10']

In [76]:
for i in range(1,11):
    print(2, "X", i , "=", 2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [77]:
for i in range(1,11):
    print("2 X " + str(i) + "=" + str(2*i))

2 X 1=2
2 X 2=4
2 X 3=6
2 X 4=8
2 X 5=10
2 X 6=12
2 X 7=14
2 X 8=16
2 X 9=18
2 X 10=20

In [78]:
["2 X "+str(i)+" = "+str(i*2) for i in range(1,11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

# Tuple

In [79]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [80]:
a = (1,2,3,2,1)
a.count(1)

2

In [81]:
a.index(3)

2

In [ ]:
[['a','b','c'],
['a','c','d'],
['z','z','z']]
NO

# Tasks
1. print value 1000 to 990 with (while and for loop)

2. with assci code 65-90, 97-122, 48-57 
print chracters base on above range with for loop

In [ ]:
A  a  0
B  b  1
C  c  3

take input from user 
if user enter 3

then your output:
    
1 X 1 =    2 x 1 =     3 x 1 = 
1 X 2 =    2 x 2 =     3 x 2 = 
1 X 3 =    2 x 3 =     3 x 3 = 
1 X 4 =    2 x 4 =     3 x 4 = 
1 X 5 =    2 x 5 =     3 x 5 = 
1 X 6 =    2 x 6 =     3 x 6 = 
1 X 7 =    2 x 7 =     3 x 7 = 
1 X 8 =    2 x 8 =     3 x 8 = 
1 X 9 =    2 x 9 =     3 x 9 = 
1 X 10 =    2 x 10 =     3 x 10 =

In [47]:
l= [[2,5,9],
    [8,9,10],
    [20,30,27],
    [35,9,20]]

for ri, r in enumerate(l):
    print("rs ",ri, r)
    for ci,c in enumerate(r):
        print("cs ",ci, c)
        if c % 5 == 0:
            print((ri,ci,c), end=" ")

rs  0 [2, 5, 9]
cs  0 2
cs  1 5
(0, 1, 5) cs  2 9
rs  1 [8, 9, 10]
cs  0 8
cs  1 9
cs  2 10
(1, 2, 10) rs  2 [20, 30, 27]
cs  0 20
(2, 0, 20) cs  1 30
(2, 1, 30) cs  2 27
rs  3 [35, 9, 20]
cs  0 35
(3, 0, 35) cs  1 9
cs  2 20
(3, 2, 20)

In [90]:
list(enumerate([3,4,6]))

[(0, 3), (1, 4), (2, 6)]